* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;

}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    width: 30rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

header {
    width: 100%;
    height: 5rem;
    max-height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    border-bottom: 3px solid  rgb(0, 86, 152);
}

header > div {
    width: calc(26rem/3);
}

.prev {
    display: flex;
    justify-content: start;
}

.dday {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dday h1 {
    font-weight: bold;
    color: rgb(0, 86, 152);
    font-family: 'Gugi', cursive;
}

.save {
    display: flex;
    justify-content: end;
}

button {
    border: 3px solid rgb(0, 86, 152);
    border-radius: .5rem;
    padding: .2rem .5rem;
    margin: 0;

    background-color: white;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(0, 86, 152);

    transition: box-shadow .3s;
}

button:hover {
    box-shadow: 0 0 7px rgba(33, 33, 33, 0.5);
}

i {
    font-size: 1.7rem;
    color:rgb(0, 86, 152);
    
}

.title {
    width: 100%;
    padding: .7rem 2rem;
}

.title input {
    font-size: 2rem;
    
    font-weight: bold;
    color: darkblue;

    border: 0;
}

input::placeholder{
    color: silver;
}

.deadline {
    display: flex;
    flex-direction: row;
    justify-content: start;

    font-size: 1rem;
    color: gray;

    padding: 0 2rem;
}

.deadline input {
    font-size: 1rem;
    border: 0;
    padding: 0;
    color: gray;
    margin: 0 1rem;
}


.content {
    width: 100%;
    height: 73vh;

    font-size: 1rem;
    color: darkblue;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: .5rem 1rem;
}

textarea {
    width: 100%;
    height: 100%;

    background-color: rgb(230, 230, 230, .5);
    border-radius: .3rem;
    
    padding: .5rem 1rem;

    resize: none;
    border: 0;
    font-size: 1rem;

}

textarea::placeholder {
    color: gray;
}

textarea:focus, input:focus {
    outline: none;
}





