<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">

</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="title">
            <input type="text" name="title" placeholder="제목을 입력하세요.."/>
        </div>
        <div class="content">
            <textarea name="content" placeholder="글을 입력하세요"></textarea>
        </div>

        <button type="submit">SAVE</button>
    </form>
</body>
</html>