body {
    background-color: aliceblue;
}

.nav-bar {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.content {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}